.primary_btn {
    padding: 10px 18px;
    background-color: #000;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 8px;
    min-width: 220px;
    font-size: 16px;
    justify-content: center;
    cursor: pointer;
}

.outline_btn {
    padding: 10px 18px;
    border: 1px solid black;
    color: black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 8px;
    min-width: 220px;
    font-size: 16px;
    justify-content: center;
    background-color: white;
    cursor: pointer;
}
